:root {
  --mustard: #ecbc55;
  --lavendar: #c4bbf0;
  --grey: #535474;
  --emarald: #1d2d50;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: var(--emarald);
  color: var(--mustard);
  font-family: "Gruppo", cursive;
  font-size: 1em;
}

h1 {
  font-family: "Gruppo", cursive;
  background-color: var(--grey);
  text-align: center;
  padding: 0.5em;
  font-size: clamp(2rem, 3vw, 4rem);
  width: 90vw;
  margin: auto;
  border-radius: 50px 0;
}
h2 {
  font-family: "Gruppo", cursive;
  background-color: var(--lavendar);
  color: var(--emarald);
  text-align: center;
  padding: 0.25em;
  font-size: clamp(1rem, 2vw, 3rem);
  width: 80vw;
  margin: 10px auto;
  border-radius: 25px 0;
}
nav {
  display: flex;
  justify-content: space-around;
  padding: 0.25em;
  margin-top: 0.5em;
}
.nav_btn {
  font-family: "Gruppo", cursive;
  background-color: var(--grey);
  text-align: center;
  padding: 0.5em;
  cursor: pointer;
  border-width: 0;
  width: 110px;
  color: var(--mustard);
  border-radius: 25px 0;
  text-decoration: none;
  font-weight: bold;
  font-size: clamp(1rem, 1.5vw, 3rem);
}

.nav_btn:hover {
  background-color: var(--mustard);
  color: var(--emarald);
}

.container {
  margin: 1em auto;
  width: 95vw;
}

.btn_title {
  font-family: "Gruppo", cursive;
  font-weight: bold;
  padding: 0.5em;
  background-color: var(--lavendar);
  text-align: left;
  padding-left: 2.5em;
  color: var(--emarald);
  width: 95vw;
  cursor: pointer;
  font-size: clamp(1rem, 2vw, 3rem);
  margin: 5px auto;
  border: 0;
  border-radius: 25px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.arrow {
  font-size: 34px;

  color: #1d2d50;
}
.mov {
  padding: 1vw;
  width: 100%;
  display: none;
  background-color: #c4bbf0;
  border-radius: 0 25px;
}
.watchlistPosters {
  background-color: var(--emarald);
  width: 80vw;
  display: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}
.watchlistPoster_img {
  padding: 5px;
  width: 150px;
  height: 200px;
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}
.poster_Div {
  flex-basis: 150px;
  flex-grow: 0;
  flex-shrink: 0;
}
.poster_img {
  padding: 5px;
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}
.movie_details_Div {
  color: var(--emarald);
  font-size: clamp(1rem, 1.5vw, 3rem);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
  height: 300px;
}
.btn_title:hover {
  background-color: var(--mustard);
}
.content {
  padding: 0.25em;
  background-color: var(--grey);
  text-align: center;
  padding: 1em;
  border-radius: 0 0 25px 0;
  color: var(--mustard);
  font-size: clamp(1.5rem, 2.5vw, 4rem);
  margin: auto;
}
.active {
  display: inline-flex;
  padding: 1vw;
}
.form_Div {
  display: none;
  background-color: var(--lavendar);
  padding: 1vw;
  margin: auto;
  border-radius: 25px 0;
}
#movie_form {
  display: flex;
  margin: 10px auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "Gruppo", cursive;
  font-weight: bold;
  color: var(--emarald);
}
.field {
  width: 300px;
  height: 25px;
}
legend {
  color: var(--emarald);
}

/* dropdown */

.dropbtn {
  background-color: var(--lavendar);
  font-family: "Gruppo", cursive;
  font-size: clamp(1rem, 1.5vw, 3rem);
  font-weight: bolder;
  min-width: 150px;
  color: var(--emarald);
  padding: 16px;
  border-radius: 25px 0;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: var(--lavendar);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  border-radius: 0 25px;
  display: none;
  text-align: left;
  position: absolute;
  background-color: var(--grey);
  font-size: clamp(1rem, 1.5vw, 3rem);
  max-width: 150px;
  /* overflow: auto; */
  font-weight: bold;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-bottom: 10px;
}

.dropdown-content .drop_content {
  color: var(--lavendar);
  background-color: var(--grey);
  padding: 12px 16px;
  cursor: pointer;
  min-width: 150px;
  border: none;
  font-size: clamp(1rem, 1.5vw, 3rem);
  display: block;
}

.dropdown .drop_content:hover {
  background-color: var(--mustard);
  color: var(--emarald);
}

.show {
  display: block;
}

@media only screen and (min-width: 768px) {
  .container {
    margin: 1em auto;
    width: 70vw;
  }
  .btn_title {
    width: 70vw;
  }
  .poster_Div {
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .form_Div {
    width: 50vw;
  }
  .watchlistPosters {
    width: 60vw;
  }
}
